body {
    background-color: #e6e6fa; /* Light lavender background for a softer look */
    color: #333; /* Dark gray text color for better readability */
    font-family: Arial, sans-serif; /* Clean and modern font */
}

#game-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 400px;
    border: 5px solid #4b0082; /* Indigo border for a bold look */
    background-color: #dcdcdc; /* Light gray background for game board */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
}

#score-board {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 2rem; /* Increased gap for better spacing */
    color: #4b0082; /* Indigo color for score text */
    font-weight: bold; /* Bold text for emphasis */
    font-size: 36px; /* Larger font size for better visibility */
    text-shadow: 1px 1px 2px #aaa; /* Subtle text shadow for depth */
}

.snake {
    background-color: #8a2be2; /* BlueViolet color for snake body */
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 4px; /* Rounded corners for a smoother look */
    transition: top 0.1s, left 0.1s; /* Smooth transitions for snake movements */
}

.snake.head {
    background-color: #e6ff00; /* OrangeRed color for snake head */
}

.food {
    background-color: #af814c; /* LimeGreen color for food */
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%; /* Circular food for better appearance */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Shadow for depth */
    animation: pulse 1s infinite; /* Pulse animation for the food */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
